homework_3/extract_and_upload_flow.yaml
id: extract_and_upload_flow
namespace: zoomcamp.seyi

# inputs:
#   - id: month
#     type: SELECT
#     values: ["01", "02", "03", "04", "05", "06"]
#     defaults: "01"

variables:
  file: "yellow_tripdata_2024-{{ taskrun.value }}.parquet"
  file_url: "https://d37ci6vzurychx.cloudfront.net/trip-data/{{render(vars.file)}}"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{render(vars.file)}}"

tasks:
  - id: for_each
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01", "02", "03", "04", "05", "06"]
    tasks:
      - id: set_labels
        type: io.kestra.plugin.core.execution.Labels
        labels:
          file: "{{ render(vars.file) }}"

      - id: download_file
        type: io.kestra.plugin.core.http.Download
        uri: "{{ render(vars.file_url) }}"

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        serviceAccount: "{{secret('GCP_CREDS')}}"
        projectId: "{{kv('GCP_PROJECT_ID')}}"
        from: "{{ outputs.download_file[taskrun.value].uri }}"
        to: "{{render(vars.gcs_file)}}"

      - id: purge_files
        type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    
